*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
.container{
    margin: 50px;
    padding-top: 10px;
    display: flex;
    justify-content: space-around;
    height: 400px; 
    width: 400px;
    border: 2px solid;
    position: relative;
}
  
.one,.two,.three,.four{
    height: 60px;
    width: 70px;
    background-color: pink;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
  
.container>.one:hover~img{
    transition: all 15s;
    transform: rotate(360deg);
}
.container>.two:hover~img{
    transition: all 11s;
    transform: rotate(360deg);
}
.container>.three:hover~img{
    transition: all 6s;
    transform: rotate(360deg);
}
.container>.four:hover~img{
    transition: all 2s;
    transform: rotate(360deg);
}
img{
    height: 250px;
    position: absolute;
    top: 100px;
    left: 80px;
    transition: transform 5s ease;
    background-color: white;
    background-image: white;
}